<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HisSecretPlace</title>
    <meta name="author" content="Michael Madu Oluwaseyi ">
    <meta name="description" content="A site " />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/nice-select.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/css2/style.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/layout.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    @*<link rel="preconnect" href="https://fonts.gstatic.com">*@
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300&family=Poppins:wght@200&display=swap" rel="stylesheet">
    <style>
        .container {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    </style>
</head>
<body class="login-register-layout">

    <main role="main">
        @RenderBody()
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Custom.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script>
        wow = new WOW({
            boxCLass: 'wow',
            animateClass: 'animated',
            offset: 0,
            mobile: true,
            live: true,
        });
        wow.init();
    </script>
    <script src="~/lib/DataTables-1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @{

        bool value = @IsSectionDefined("Scripts");
        if (value == true)
        {
            RenderSection("Scripts", false);
        }

    }

</body>
</html>
