@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*<ul class="navbar-nav">*@
@if (SignInManager.IsSignedIn(User))
{
    @*<li>
        <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello &nbsp; @UserManager.GetUserName(User)!</a>
    </li>*@
    <li>
        <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
             <a href="#" onclick="document.getElementById('logoutForm').submit();" class="nav-link8">Logout</a>
        </form>
    </li>
}
else
{
    <li><a asp-action="Register" asp-controller="Account" class="nav-link10">Join us</a></li>
    <li><a asp-action="Login" asp-controller="Account" class="nav-link11">Sign in</a></li>
}
@*</ul>*@
