<div class="container-fluid">
    <div class="row">
       <div class="col-xl-1 col-lg-2 col-md-2 col-sm-2"> 
        @*<div class=" col-lg-2 col-md-2 col-sm-12 logo_section">*@
            <div class="full">
                <div class="center-desk">
                    <div class="logo">
                        <a href="index.html"><img src="~/images/IMG-20210615-WA0000.jpg" style="height:70px" alt="#" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-11 col-lg-10 col-md-10 col-sm-10"> 
        @*<div class="col-lg-10 col-md-10 col-sm-12">*@
            <div class="menu-area">
                <div class="limit-box">
                    <nav class="main-menu">
                        <ul class="menu-area-main">
                            <li> <a asp-action="Index" asp-controller="Home" class="nav-link1">Home</a> </li>
                            <li>
                                <a asp-action="AboutUs" asp-controller="Home" class="nav-link2">About Us</a>
                            </li>

                            <li>
                                <a asp-action="Branches" asp-controller="Home" class="nav-link7">Our Branches</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link8">Gallery</a>
                                <ul class="sub-down">
                                    <li> <a asp-action="Index" asp-controller="Gallery" class="nav-link3">Project Photos</a> </li>
                                    <li><a asp-action="Index" asp-controller="ProjectVideos" class="nav-link4">Project Videos</a></li>
                                </ul>
                            </li>
                            <li> <a asp-action="Index" asp-controller="News" class="nav-link5">News</a> </li>
                            <li> <a asp-action="Contact" asp-controller="Home" class="nav-link6">Contact us</a> </li>
                            @*<li ><a asp-action="Register" asp-controller="Account"class="nav-link7">Join us</a></li>
                               <li><a asp-action="Login" asp-controller="Account"class="nav-link8">Sign in</a></li>*@
                            @{
                                await Html.RenderPartialAsync("_LoginPartial");
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
