@{
    Layout = "_Layout";
}
<style>
    .email-confirmtext {
        color: black;
        font-size: large;
        font-family: "Montserrat";
        font-weight: 700;
    }
    .mean-container .mean-bar {
        background-color: #4e7b88;
    }
</style>

<header>
    <div class="header" style="background-color: #023041; top: 0px; position: fixed; z-index: 999; width: 100%">
        @{
            await Html.RenderPartialAsync("_MenuBar");
        }
    </div>
</header>
<div style="margin-top:100px">
    <div class="home-page-welcome">
        <h3 class="mt-2 h-st b-h2">Registration Successful</h3>
    </div>
</div>

<div  style="margin-top:100px; margin-bottom:200px">
    <h4 class="text-center email-confirmtext">Please check your  email to confirm your account.</h4>
</div>