@{
    Layout = "_Layout";
}

<header>
    <div class="header" style="background-color: #023041; top: 0px; position: fixed; z-index: 999; width: 100%">
        @{
            await Html.RenderPartialAsync("_MenuBar");
        }
    </div>
</header>
<div style="margin-top:100px">
    <div class="home-page-welcome">
        <h3 class="mt-2 h-st b-h2">UserNotFound</h3>
    </div>
</div>
<div class="m-5 container" style="padding-top:80px;padding-bottom:80px">
    <div>
        <h4 class="text-danger text-center">The Login User Was not Found</h4>
    </div>
</div>