
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .abt-ul{
        list-style:decimal
    }
    .abt-ul li{
        padding-top:10px;
        padding-bottom:10px;
    }
</style>
<header>
    <div  class="header" style="background-color: #023041; top: 0px; position: fixed; z-index: 999; width: 100%">
        @{
            await Html.RenderPartialAsync("_MenuBar");
        }
    </div>
</header>
<div style="margin-top:100px">
    <div class="home-page-welcome">
        <h3 class="mt-2 h-st b-h2">About Us</h3>
    </div>
</div>

<div class="container">
    <div class="works" id="works">
        <div class="container">
            <div class="about-head text-center">
                <h6 class="wow zoomIn" data-wow-delay="0.1s">Our Vission</h6>
                <ul class="abt-ul">
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="0.0s">
                            To establish Community Helpers Network branches in many churches in Nigeria and beyond.
                        </p>
                    </li>
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="0.2s">
                            To take the light of the church to every community in
                            Nigeria and beyond by developing both human capacity and infrastruture.
                        </p>
                    </li>
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="0.4s">
                            To bring the community to the church for human capacity
                            development and spiritual interventions using the word of God.
                        </p>
                    </li>
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="0.6s">
                            To work with indivuduals, companies, government agencies
                            and religious body to bring development to communities.
                        </p>
                    </li>
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="0.8s">
                            To inspire growth of local churches through various
                            interventions and cooperations.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="works" id="works">
        <div class="container">
            <div class="about-head text-center">
                <h6 class="wow zoomIn" data-wow-delay="0.1s">MISSION STATEMENT</h6>
                <ul class="abt-ul">
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="0.0s">
                            To work with believers that has daily work with God
                            to establish Community Helpers Network in their local churches
                        </p>
                    </li>
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="0.2s">
                            To establish a synergy of the Network's vision in all
                            branches by constant training and retraining of members
                        </p>
                    </li>
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="0.4s">
                            To inspire communities for self growth by engaging them in community specific projects.
                        </p>
                    </li>
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="0.6s">
                            To serve as link between communities and government agencies,
                            companies and religious body for human and infrastructure development
                        </p>
                    </li>
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="0.8s">
                            To inpire the nation through promotion of national values
                            using jingles in Bus Rapid Transport services via their audio and videos capabilities.
                        </p>
                    </li>
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="1s">
                            To inpire the nation through promotion of national values
                            using jingles in Bus Rapid Transport services via their audio and videos capabilities.
                        </p>
                    </li>
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="1.2s">
                            To work with National Orientation Agency to inspire the nation.
                        </p>
                    </li>
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="1.4s">
                            To work with community development associäons and land lord association in each community
                        </p>
                    </li>
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="1.6s">
                            To serve as an outreach arm of the church each branch is.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="works" id="slogan">
        <div class="container">
            <div class="about-head text-center">
                <h6 class="wow zoomIn" data-wow-delay="0.1s">Our Slogan</h6>
                <ul class="abt-ul">
                    <li>
                        <p class="wow fadeInRight" data-wow-delay="0.0s">
                            We are the light of the world
                        </p>
                    </li>
                    <li>
                        <p class="wow fadeInLeft" data-wow-delay="0.0s">
                            We are the salt of the earth
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>                 
</div>

@section Scripts{

    <script>
        $(".nav-link2").css("color", "#4ac9f0");
    </script>
}
