@model List<ProjectGallery>;
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
  
     .mean-bar {
        background: #4e7b88;
    }
</style>
<header>
    <div class="header" style="background-color: white; top: 0px; position: fixed; z-index: 999; width: 100%">
        <div style="background-color:#4e7b88">
            @{
                await Html.RenderPartialAsync("_MenuBar");
            }
        </div>     
    </div>
</header>
<div style="margin-top:100px">
    <div class="home-page-welcome">
        <h3 class="mt-2 h-st b-h2">Project Photos</h3>
    </div>
</div>

<div class="container g-sect" style="margin:100px 20px">
   <div class="row">
        @{
            foreach (var gallery in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6 mb-2">
                    <img asp-append-version="true" src="~/content/Images/@gallery.ImagePath" style="width:90%;height:200px" />
                    <h5 style="font-weight:500">@gallery.ImageTitle</h5>
                    <h6 class="h6">@gallery.DatePublished</h6>
                </div>
            }
        }
    </div>
</div>





@section Scripts{

    <script>
        $(".nav-link3").css("color", "#4ac9f0");
    </script>
}