@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>













@section Scripts{

    <script>
        var value = "Privacy Page";
        if (value = "Privacy-Page") {
            $(".nav-link-2").addClass("current-menu-item");
        } else {
            $(".nav-link-2").removeClass("current-menu-item");
        }
    </script>


}