
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <h1>Welcome Admin</h1>
        <h6>Links To Manage Data</h6>
        <ul>
            <li><a asp-action="CreateEvent">Create Event</a></li>
            <li><a asp-action="CreateNews">Create News</a></li>
            <li><a asp-action="DailyView">DailyView</a></li>
            <li><a asp-action="ListEvent">List Event</a></li>
            <li><a asp-action="ListMembers"> List Members</a></li>
            <li><a asp-action="ListNews"> List News</a></li>
            <li><a asp-area="Identity" asp-page="/Account/CreateRole">Create Role</a></li>
        </ul>
    </div>

